.popup.hidden {
  display: none;
}
.popup.show {
  display: flex;
}
.popup {
  position: absolute;
  top: 115%;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  width: 430px;
  border: 2px solid black;
  padding: 0 5px;
  box-sizing: border-box;
}
.popup__list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.popup__list__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popup__list__item__text {
  font-size: 16px;
}
.popup__totalPrice {
  align-self: flex-end;
}